.control-btn-container{
    background-color: rgba(112, 112, 112, 0.313);
    height: 100%;
    width:20%;
    margin:20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn-container:hover{
    background-color: rgba(235, 235, 235, 0.313);
    transition-duration: 0.05s;
}