.control-btn-container{
    background-color: rgba(112, 112, 112, 0.33);
    height: 100%;
    width:20%;
    margin:20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    box-shadow: none;
    @media(max-width:1500px) {
        margin:10px;
    }
    @media(max-width:900px) {
        min-width:100px;
        width:90%;
        height:200px;
    }
}

.control-btn-container--on{
    background-color: rgba(255, 255, 255, 0.389);
    height: 100%;
    width:20%;
    margin:20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    box-shadow: none;
    @media(max-width:1500px) {
        margin:10px;
    }
    @media(max-width:900px) {
        min-width:100px;
        width:90%;
        height:200px;
    }
}

.control-btn-container:hover{
    background-color: rgba(235, 235, 235, 0.255);
    transition-duration: 0.05s;
}