.text-head{
    color:rgb(199, 199, 199);
    margin:20px;
    margin-left:10px;
    font-size:30px;
    font-weight: 900;
    font-family: "ubuntu";
    @media(max-width:1500px) {
        font-size: 20px;
    }
}


.text-temp{
    color:white;
    font-size:140px;
    font-weight: 900;
    margin-left:10px;
    font-family: "ubuntu";
    animation-name: fadein;
    animation-duration: 0.5s;
    @media(max-width:1500px) {
        font-size: 80px;
    }
    @media(max-width:900px) {
        font-size: 12vw;
    }
}

.text-loc{
    color:white;
    font-size:30px;
    margin-top:20px;
    margin-left:10px;
    font-weight: 900;
    font-family: "ubuntu";
    animation-name: fadein;
    animation-duration: 0.5s;
    @media(max-width:900px) {
        margin-left:0px;
        font-size:20px;
    }
}

.text-time{
    color:white;
    font-size:30px;
    margin-top:20px;
    margin-left:10px;
    font-weight: 900;
    font-family: "ubuntu";
    animation-name: fadein;
    animation-duration: 0.5s;
    @media(max-width:900px) {
        font-size:18px;
    }
}

.weth-logo{
    position: absolute;
    top:50px;
    right:100px;
    // background-color: red;
    width:300px;
    @media(max-width:1500px) {
        width:180px;
        right:40px;
        top:40px;
    }
    @media(max-width:900px) {
        width:120px;
        right:20px;
        top:20px;
        position: relative;
        margin:40px;
        margin-bottom:70px;
    }
}

.sun{
    background-image:linear-gradient(rgba(212, 181, 5, 0.6),rgba(212, 62, 7, 0.572));
    height:200px;
    width:200px;
    border-radius: 50%;  
    @media(max-width:1500px) {
        height:120px;
        width:120px;
    }
    @media(max-width:900px) {
        position: initial;
    }
}

.time-container{
    position: absolute;
    right:20px;
    bottom:30px;
    margin-top:20px;
}

.text-time-loc{
    font-size: 20px;
    color:rgb(177, 177, 177);
    font-weight:900;
    margin-bottom:10px;
}

.desc{
    background-color: rgba(112, 112, 112, 0.313);
    padding:15px;
    border-radius: 10px;
    padding-left:20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    @media(max-width:900px) {
        padding-left:15px;
        padding-bottom: 15px;
    }
}

.text-location{
    font-size:22px;
}
.clouds{
    opacity: 0.85;
    position: absolute;
    bottom:-30px;
}

.rain-logo{
    opacity: 0.7;
    width:100px;
}

.sun-clouds{
    position: absolute;
    bottom:-20px;
    right:-20px;
}

.thunder{
    opacity:0.7;
    width:180px;
}

.dashboard-main-container{
    width:100%;
    height:100%;
    box-sizing: border-box;
    @media(max-width:900px) {
       margin:20px 0px;
    }
}

@keyframes fadein {
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
