.text-head{
    color:rgb(199, 199, 199);
    margin:10px;
    font-size:30px;
    font-weight: 900;
    font-family: "ubuntu";
}

.text-temp{
    color:white;
    font-size:140px;
    font-weight: 900;
    font-family: "ubuntu";
    margin:20px;
    margin-left:20px;
}
