.modal{
    position: absolute;
    padding:200px;
    margin:auto;
    background-color: rgba(33, 33, 33, 0.992);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:500px;
    align-self: center;

    @media(max-width:1500px) {
        padding:0px;
        width:90%;
        min-width: 100px;
        padding-top:50px;
        padding-bottom:50px;
    }

}

.exit{
    position: absolute;
    color: white;
    top:50px;
    right:50px;
    font-size: 40px;
    background-color:rgba(33, 33, 33, 0.992);
    border: none;
    @media(max-width:1500px) {
        font-size: 20px;
        top:20px;
        right:20px;
    }
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(74, 74, 74, 0.751);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}