.primary-screen-container{
    position:absolute;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
}

.left-container{
    width:60%;
    height:100%;
    box-sizing: border-box;
    // background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:50px;
}
.right-container{
    width:40%;
    height:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
}

.main{
    display:block
}

.main--hidden{
    display: none;
}
.globe{
    height:150px;
    width:150px;
    background-color: white;
    z-index:100;
    position: absolute;
    bottom:50px;
    right:100px;
    border-radius: 50%;
    opacity:0.5;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 100px black;
    // animation-name: globeLift;
    // animation-duration: 10s;
    // animation-timing-function:ease-in-out;
    // animation-iteration-count: infinite;
    box-sizing: border-box;
}
.globe:hover{
    opacity:1
}

.color-picker-container{
    position: absolute;
    top: 50px;
    right:50px;
}

.color-picker{
    padding:20px;
    background-color: rgba(167, 167, 167, 0.815);
    margin:20px;
    border-radius: 20px;
    position: absolute;
    bottom:0px;
    right:0;
}

.left-container{
    animation-name: appear;
    animation-duration: 1s;
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}